  <div class="loading-container">
    <mat-progress-bar *ngIf="dataSource.loading$ | async" mode="indeterminate"></mat-progress-bar>
  </div>
  <div class="flex mx-10 my-5">
    <button class="ml-auto" mat-flat-button color="primary" (click)="openAddEditDialog()">
      <mat-icon aria-hidden="false" aria-label="Add New gateway Icon" fontIcon="add"></mat-icon>
      Add New Gateway
    </button>
  </div>
  <div class="shadow-xl border rounded-lg mx-10">
    <div class="rounded-lg overflow-hidden">
      <table [dataSource]="dataSource" mat-table class="full-width-table" matSort aria-label="Elements">
        <!-- Id Column -->
        <ng-container matColumnDef="serialId">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Serial ID</th>
          <td mat-cell *matCellDef="let row">{{row.serialId}}</td>
        </ng-container>
  
        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
          <td mat-cell *matCellDef="let row">{{row.name}}</td>
        </ng-container>
  
        <!-- IpV4 Column -->
        <ng-container matColumnDef="ipv4Address">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>IP</th>
          <td mat-cell *matCellDef="let row">{{row.ipv4Address}}</td>
        </ng-container>
  
        <!-- Peripherical Devices Column -->
        <ng-container matColumnDef="peripheralDevices">
          <th mat-header-cell *matHeaderCellDef>Peripherical Devices</th>
          <td mat-cell *matCellDef="let row">
            <ng-container *ngIf="row.peripheralDevices.length; else noDevices">
              {{ (row.peripheralDevices[0].vendor | titlecase)+' - '+row.peripheralDevices[0].uid }}
              <!-- Here we can raise a custom tooltip with the uid, vendor or any other info that we want to show -->
              <span *ngIf="(row.peripheralDevices.length || 0) > 1">
                (+{{(row.peripheralDevices.length || 0) - 1}} {{row.peripheralDevices.length === 2 ? 'other' : 'others'}})
              </span>
            </ng-container>

            <ng-template #noDevices>--</ng-template>
          </td>
        </ng-container>
  
        <!-- Created At Column -->
        <ng-container matColumnDef="createdAt">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Created At</th>
          <td mat-cell *matCellDef="let row">{{row.createdAt | date:'medium'}}</td>
        </ng-container>
  
        <!-- Actions Column -->
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Actions</th>
          <td mat-cell *matCellDef="let row">
            <button mat-icon-button [matMenuTriggerFor]="menu">
              <mat-icon>more_vert</mat-icon>
            </button>
  
            <mat-menu #menu="matMenu">
              <button mat-menu-item (click)="openAddEditDialog(row)">Edit</button>
              <button mat-menu-item (click)="openDeleteDialog(row._id)">Remove</button>
            </mat-menu>
          </td>
        </ng-container>
  
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
    <mat-paginator class="border-t" #paginator [length]="(dataSource.meta$ | async)?.total" [pageIndex]="0" [pageSize]="10"
      [pageSizeOptions]="[5, 10, 20]" aria-label="Select page">
    </mat-paginator>
  </div>

